{% include "layout.html" %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<!-- <ul class=flashes> -->
  {% for message in messages %}
<center><h4>{{ message }}</h4></center>
<br>
  {% endfor %}
<!-- </ul> -->
{% endif %}
{% endwith %}

{% block content %}
<center>
  <form action="/login" method="post">
    {{ form.hidden_tag() }} <!-- why the fuck do i need this -->
    {{ form.username.label }}<br>
    {{ form.username(size=10) }}<br>
    {{ form.password.label }}<br>
    {{ form.password(size=10) }}<br><br>
    {{ form.submit   }}<br>
  </form>
</center>
{% endblock %}
